.contact {
    text-align: center;
  
    height: 100vh;
    background-color: rgba(134, 133, 129, 0.5);
    color: whitesmoke;
    font-family: 'GB Garamond', serif;
    letter-spacing: .1em;
    
    
}
.text-center {
    font-size: 40px;
}