.contact {
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(186, 187, 173, 0.45);
    color: whitesmoke;
    font-family: 'GB Garamond', serif;
    letter-spacing: .1em;
    
    
}
.text-center {
    font-size: 40px;
}