.row {
    text-align: center;
    color: whitesmoke;
    font-family: 'EB Garamond', serif;
}

.col-3 {
    font-family: 'EB Garamond', serif;
} 

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.projects {
    text-align: center;
    width: 100vw;
    height: 90vh;
    background-color: rgba(186, 187, 173, 0.45);
    color: whitesmoke;
    font-family: 'GB Garramond', serif;
    line-height: 2em;
    font-size: 20px;
    letter-spacing: .1em;
    padding-top: 50px;
    padding-left: 1em;
    padding-right: 1em;
}